.invoiceContainer {
  margin: 0px;
  padding: 10px;
  line-height: 1.6;
  background-color: white;
  aspect-ratio: 8.5 / 11;
  font-size: 1.5vw;
}
.invoiceBorder {
  position: relative;
  border: 1px solid black;
  margin: 0 auto;
  width:70%;
}
.title {
  text-align: center;
  margin-bottom: 10px;
}
.section {
  margin-bottom: 10px;
}
.companyName {
  margin: 0;
  font-size: 2.5vw;
}

.subHeading {
  margin: 0 0 10px 0;
  font-style: italic;
}

.heading {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}
.invoiceTable {
  width: 100%;
  border-collapse: collapse;
}
.invoiceTable,
.invoiceTable th,
.invoiceTable td {
  border: 1px solid;
}

.tableHeader {
  border-bottom: 1px solid;
  text-align: left;
  padding: 8px;
}

.rightAlign {
  text-align: right;
  padding: 8px;
}
.leftAlign {
  text-align: left;
  padding: 8px;
}
.totals {
  text-align: right;
}
.note {
  font-style: italic;
}

.invoiceContainer p {
  margin: 0;
}
.total {
  font-size: 2.5vw;
  color: #7fc37e;
  font-weight: bold;
}
.invoiceLogo {
  position: absolute;
  top: 3%;
  right: 3%;
  width: 10%;
}